#device {
	font-family: Arial;
	width: 236px;
	height: 566px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -118px;
	margin-top: -283px;
	background: transparent url('../img/device.png') no-repeat;
}

#device-screen {
	width: 128px;
	height: 160px;
	background: #000;
	margin: 0 auto;
	position: relative;
	margin-top: 120px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#top-panel {
	position: absolute;
	top: 0;
}

#bottom-panel {
	position: absolute;
	bottom: 0;
}

#main-view {
	height: 128px;
	width: 128px;
	position: absolute;
	top: 16px;
	left: 0;
}

.fullscreen #main-view {
	top: 0;
	left: 0;
	height: 160px;
}

.fullscreen .panel {
	display: none;
}

div.view {
	color: #FFFFFF;
	height: 100%;
	width: 100%;
}

div.splash {
}

ul.menu {
	font-size: 14px;
	color: #FFFFFF;
}

ul.menu li {
	height: 16px;
	line-height: 16px;
	display: list-item;
}

ul.menu li img.icon {
	width: 16px;
	height: 16px;
	vertical-align: middle;
}

ul.menu li.active {
	background-color: #FFFFFF;
	color: #000000;
}

ul.menu li span.title {
	display: inline-block;
	vertical-align: middle;
	line-height: 14px;
}

ul.menu li span.radio {
	display: inline-block;
	width: 16px;
	height: 16px;
	background-image: url('../img/settings-radio-disabled-icon.png');
	float: right;
}

ul.menu li span.radio.enabled {
	background-image: url('../img/settings-radio-enabled-icon.png');
}

ul.menu li.active span.radio {
	background-image: url('../img/settings-radio-disabled-active-icon.png');
}

ul.menu li.active span.radio.enabled {
	background-image: url('../img/settings-radio-enabled-active-icon.png');
}

div.panel {
	height: 16px;
	background: url('../img/panel-bg.png') repeat-x;
	width: 100%;
	left: 0;
}

div.menu-item {
	height: 128px;
	text-align: center;
}

div.menu-item img {
	margin-top: 18px;
	margin-bottom: 14px;
}

div.menu-item span {
	color: #FFFFFF;
	display: block;
}

div.hardware {
	position: absolute;
	cursor: pointer;
}

div.hardware.left {
	left: 37px;
	top: 345px;
	width: 0;
	height: 0;
	border-bottom-left-radius: 60px;
	border-left: 35px solid transparent;
	border-bottom: 35px solid transparent;
	opacity: .8;
	border-right: 14px solid transparent;
	border-top: 30px solid transparent;
}

div.hardware.left:after {
	content: "";
	border: 12px solid transparent;
	left: 0;
	position: absolute;
	top: -12px;
	-webkit-transform: rotate(-45deg);
	transform: rotate(45deg);
}

div.hardware.middle {
	width: 52px;
	height: 52px;
	border-radius: 26px;
	left: 93px;
	top: 318px
}

div.hardware.right {
	left: 152px;
	top: 345px;
	width: 0;
	height: 0;
	border-bottom-right-radius: 60px;
	border-right: 35px solid transparent;
	border-bottom: 35px solid transparent;
	opacity: .8;
	border-left: 14px solid transparent;
	border-top: 30px solid transparent;
}

div.hardware.right:after {
	content: "";
	border: 12px solid transparent;
	right: 0;
	position: absolute;
	top: -12px;
	-webkit-transform: rotate(-45deg);
	transform: rotate(45deg);
}

div.button {
	width: 16px;
	height: 16px;
	position: absolute;
	top: 0;
	background-repeat: no-repeat;
}

div.button.left {
	left: 6px;
}

div.button.right {
	right: 6px;
}

div.button.middle {
	left: 50%;
	margin-left: -8px;
}

div.button.none {
	display: none;
}

div.button.ok {
	background-image: url('../img/button-ok.png');
	background-position: 0px 1px;
}

div.button.select {
	background-image: url('../img/button-select.png');
	background-position: 0px 1px;
	width: 44px;
	margin-left: -22px;
}

div.button.up {
	background-image: url('../img/button-up.png');
	background-position: 0px 1px;
}

div.button.down {
	background-image: url('../img/button-down.png');
	background-position: 0px 1px;
}

div.battery {
	position: absolute;
	width: 16px;
	height: 10px;
	top: 3px;
	left: 2px;
}

div.battery.full {
	background-image: url('../img/battery-full.png');
}

div.clock {
	background: #000000;
	color: #FFFFFF;
	width: 30px;
	height: 12px;
	text-align: center;
	position: absolute;
	right: 2px;
	top: 2px;
	font-size: 7px;
	font-family: sans-serif;
	line-height: 12px;
}

div.activity-indicator {
	width: 44px;
	height: 12px;
	position: absolute;
	top: 2px;
	left: 50px; 
}

ul.activity-indicator {
	width: 100%;
	height: 100%;
	background-color: #000000;
}

ul.activity-indicator li {
	width: 3px;
	height: 12px;
	float: right;
	margin-left: 1px;
	position: relative;
	overflow: hidden;
}

ul.activity-indicator li span {
	background-color: #00ff00;
	display: block;
	bottom: 0;
	width: 3px;
	position: absolute;
}