<!--DOCTYPE html-->
<html>	
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
 		<title></title>
 		<link rel="stylesheet" type="text/css" href="css/reset.css">
 		<link rel="stylesheet" type="text/css" href="css/style.css">
 		<script type="text/javascript" src="js/lib/require.js"></script>
 		<script type="text/javascript" src="js/config.js"></script>
 		<script type="text/javascript" src="js/app.js"></script>
	</head>
	<body>
 		<div id="device">
 			<div id="device-screen" class="fullscreen">
 				<div id="top-panel" class="panel">
 					<div class="activity-indicator-placeholder"></div>
 				</div>
 				<div id="main-view">
 				</div>
 				<div id="bottom-panel" class="panel">
 				</div>
 			</div>
 			<div class="hardware left"></div>
 			<div class="hardware middle"></div>
 			<div class="hardware right"></div>
 		</div>
 		<script type="text/template" id="splash-screen-template">
    	<div class="view splash">
    		<img src="img/splash.png"/>
  	  </div>
 		</script>
 		<script type="text/template" id="about-screen-template">
    	<div class="view">
	      About
  	  </div>
 		</script>
 		<script type="text/template" id="cumulative-dose-screen-template">
 			<div class="view cumulative">
 				<div class="title"><%=title%></div>
 				<div class="dose <%=doseTag%>">
 					<span class="dose"><%=dose%></span>
 					<span class="units"><%=unit%></span>
 				</div>
 				<div class="time"><span class="time"><%=time%></span></div>
 				<div class="activity-indicator">
 					<div class="bg-threshold"><%=backgroundThreshold%></div>
 					<ul class="activity-indicator left clearfix">
		 				<% _.each(marks, function(mark) { %>
		 					<li style="width: <%=mark.level+1%>px;"><span class="<%=mark.tag%>" style="height: <%=mark.value%>px"></span></li>
		 				<% }); %>
 					</ul>
 					<div class="last-value <%=tag%>"><span class="value"><%=lastValue%><span><span class="units"><%=lastValueUnit%></div>
 				</div>
 			</div>
 		</script>
 		<script type="text/template" id="measurement-screen-template">
    	<div class="view measurement <%=tag%>">
    		<div class="graph readiness-graph" style="height: <%=readiness%>px;"></div>
    		<div class="graph accuracy-graph" style="height: <%=accuracy%>px;"></div>
    		<div class="last-value"><%=lastValue%><span class="icon"></span><span class="units"><%=unit%><span></div>
    		<div class="message"><%=message%></div>
    		<div class="bg-threshold"><%=backgroundThreshold%></div> 
    		<ul class="activity-indicator left clearfix">
	 				<% _.each(leftMarks, function(mark) { %>
	 					<li style="width: <%=mark.level+1%>px;"><span class="<%=mark.tag%>" style="height: <%=mark.value%>px"></span></li>
	 				<% }); %>
 				</ul>
 				<ul class="activity-indicator right clearfix">
	 				<% _.each(rightMarks, function(mark) { %>
	 					<li style="width: <%=mark.level+1%>px;"><span class="<%=mark.tag%>" style="height: <%=mark.value%>px"></span></li>
	 				<% }); %>
	 			</ul>
  	  </div>
 		</script>
 		<script type="text/template" id="view-menu-item-template">
			<% if(item.options.icon) { %>
				<span class="icon <%=item.options.icon%>"></span>
			<% } %>
			<span class="title"><%=item.title%></span>
 		</script>
 		<script type="text/template" id="radio-menu-item-template">
 				<% if(item.options.icon) { %>
 					<span class="icon <%=item.options.icon%>"></span>
				<% } %>
				<span class="title"><%=item.title%></span>
				<span class="radio<%= item.value ? ' checked' : ''%>">&nbsp;</span>
 		</script>
 		<script type="text/template" id="checkbox-menu-item-template">
 				<% if(item.options.icon) { %>
 					<span class="icon <%=item.options.icon%>"></span>
				<% } %>
				<span class="title"><%=item.title%></span>
				<span class="checkbox<%= item.value ? ' checked' : ''%>">&nbsp;</span>
 		</script>
 		<script type="text/template" id="settingsmenu-template">
 			<ul class="menu">
 			</ul>
 		</script>
 		<script type="text/template" id="mainmenu-template">
 			<ul class="main-menu">
 			</ul>
 		</script>
 		<script type="text/template" id="mainmenu-item-template">
			<% if(item.img) { %>
				<img class="icon" src="<%=item.img.src%>"/>
			<% } %>
			<span><%=item.title%></span>
 		</script>
 		<script type="text/template" id="bottom-panel-template">
 			<div class="button left <%=buttons.left%>"></div>
 			<div class="button middle <%=buttons.middle%>"></div>
 			<div class="button right <%=buttons.right%>"></div>
 		</script>
 		<script type="text/template" id="top-panel-template">
 			<div class="battery full"></div>
 			<div class="activity-indicator"></div>
 			<div class="clock"></div>
 		</script>
 		<script type="text/template" id="activitygraph-template">
 			<ul class="activity-indicator clearfix">
 				<% _.each(marks, function(mark) { %>
 					<li style="width: <%=mark.level+1%>px;"><span class="<%=mark.tag%>" style="height: <%=mark.value%>px;"></span></li>
 				<% }); %>
 			</ul>
 		</script>
	</body>
</html> 